.ImageSection{
    display: flex;
    margin-top: 4rem;      
    margin-bottom: 4rem;  
    .img{
        width: 100%;
        height: 50vh;
        img{
            width: 100%;
            object-fit: cover;
            height: 100%;            
        }
    }
    @media screen and ( max-width: 611px){
        img{
            width: 60%;
            width: fit-content;            
        }
    }

    .about-info{
        margin-left: 2rem;
        h4{
            font-size: 1.5rem;
            
        }
        .about-text{
            padding: 1rem 0;
        }
        span{
            color: #F2AF29,
            
        }
    }

    @media screen and ( max-width: 1000px) {
        flex-direction: column;
        .about-info{
            margin-left: 0;
            margin-top: 1rem;
        } 
    }
    

}

.about-details{
    display: flex;
    p{
        padding: .2rem 0;

    }   
    .right-section{
        margin-left: 2rem;
    } 
}
a:link {
    text-decoration: none;
  }

.btn{
    padding: 1rem 2rem;
    background-color: #037FFF;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: 1rem;
    position: relative;
       
    &::after{
        position: absolute;
        content: "";
        width: 0;
        height: .3rem;
        left:0;
        bottom:0;
        background-color: rgb(240, 170, 39); 
        transition: all 0.4s ease-in-out;  
    }
    &:hover::after{
        width: 100%;
    }
}

.all-skills-container{
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    row-gap: 3rem;
    @media screen and ( max-width: 800px) {
        grid-template-columns: repeat(1,1fr);
    }
}


.btn-porfolio{
    padding:.6rem 2rem;
    background-color: #345995bd;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    color: white;
    transition: all .3s ease-in-out ;        
    &:hover{
        opacity: 60%;
    }    
    &:focus{
        background-color: #4a7ed3;
    }

}

.buttons-portfolio{
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: 1rem ;
    flex-wrap: wrap;
    @media screen and ( max-width: 711px){           
        margin: 2rem 5rem;
    }

}
