.contact-container{
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1px 0.1rem;
    margin-top: 3rem;
    @media screen and (max-width:1000px){
        margin-top: 10rem;        
    }
}



.contact-box{    
    
    display: flex;    
    
    box-shadow: 0px 0px 19px 5px rgba(109, 56, 161, 0.667);
    .left{
        background: url("../img/contact-image.jpg") no-repeat center;
        background-size: cover;
        width: 40%;
        -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
        filter: blur(3px);
             
    }
    .right{
        
        width: fit-content;        
        margin: auto;
        padding: 25px 40px;
        align-content: center;
        background-color: #1a1917;
        h3{
            text-align: center;            
            position: relative;
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            font-weight: 400;
            font-size: 1.9rem;
        }

        h3::after{
            content:"";
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            height: 4px;
            width: 40px;
            border-radius: 2px;
            background-color: #ffbc03;
        }        
        textarea{
            font: inherit;
        }
    }
   
    .field{
        width: 100%;
        padding: 0.5rem 1rem;
        outline: none;
        border: 2px solid rgba(0,0,0,0);
        background-color: rgb(44, 46, 48);
        font-size: 1.3rem;
        margin-bottom: 22px;
        transition: .3s; 
        text-decoration: solid #FFF;
        color: #FFF;  
    }

    .btn-form{
        display: block;
        float: right;
    }
    
    .text-message-form{
        resize: none;
    }

    .field:hover{
        background-color: #345995;
    }

    // .field:focus{
    //     // background-color: #345995;
    //     // border: 2px none rgb(41, 64, 240);
    // }
    .area{
        min-height: 150px;
        font-family: inherit;
    }
    
    
}

@media screen and (max-width:880px){
    .contact-box{
        grid-template-columns: 1fr;
    }
    .left{
        height: 200px;
        display: none;
    }
}
@media screen and (max-width:400px){
    .ContactPage{
        justify-content: center ;
    }
    .left{        
        display: none;
    }
}