.App{
    .sidebar{
        width: 16%;
        height: 200vh;
        background-color: #191D2B;
        position: fixed;
        border-right: 1px solid #2e344e;

    }

    .main-content{
        width: 84%;
        margin-left: 16%;
        background-color: #10121B;
        min-height: 100vh;
        
        background: linear-gradient(-45deg, #F2AF29, #C33C54, #1B998B, #345995);
	    background-size: 400% 400%;
	    animation: gradient 15s ease infinite;
        // By:
        // Manuel Pinto
        // https://manuelpinto.in
        display: grid;
        position: relative;
        .content{
            margin: 5rem 15rem;
        }
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
